html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  background-image: url('./images/bg-pattern.png');

  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 20px solid blue;
}

h1 {
  font-weight: 500;
  font-size: 40px;

  border: 5px solid green;
  text-align: center;
}
.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-input {
  text-align: center;
  font-size: 30px;
  height: 50px;
  width: 600px;
  border: 5px solid purple;

  margin-right: 30px;
}

.search-button {
  height: 50px;
  width: 120px;
  font-size: 30px;
}

.show-more-button {
  margin-top: 30px;
  height: 50px;
  width: 220px;
  font-size: 30px;
}
